

body,html {
    background-color: wheat;
    display: grid;
    place-items: center;
}

@media (min-width: 400px) and (max-width:649px) {

        body,html {
            background : blue;
        }
    
}


@media (min-width: 650px) {

    body,html {
        background : red;
    }

}

.boxmodel {
    height: 1050px;
    padding: 5px 10px 5px 10px;
    border: 3px solid brown;
    width: 800px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: whitesmoke;
    /* margin-left: 100px;
    margin-right: 100px; */
}

h1 {
    text-align: center;
}

.a {
   margin-right: 200px;
}
.b{
    text-indent: 50px;
}

.f {
    margin-right: 310px;
}

.g{
    text-indent: 380px;
    opacity: 0.5;
}

.h {
    opacity: 0.5;
}

.j {
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  padding: 20px;
  background-color: red;
  height: 5px;
  width: 150px;
}

/* .button {
    line-height: 20px;
} */